<!DOCTYPE html>
<html>
  <head>
    <title>Polyclinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <% if current_user.present? %>
      <li><%= button_to 'User log out', destroy_user_session_path, method: :delete, data: { turbo: false }  %></li>
    <% end %>

    <% if current_doctor.present? %>
      <li><%=  button_to 'Doctor log out', destroy_doctor_session_path, method: :delete, data: { turbo: false }  %></li>
    <% end %>
  </body>
</html>
